.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.calculator {
    width: 400px;
    height: 325px;
    border: 2px solid;
    border-radius: 20px;
    padding: 10px 10px;
}

.screen {
    padding: 10px 20px;
    border: 2px solid;
    border-radius: 10px;
    margin-bottom: 20px;
    text-align: end;
    font-size: 32px;
}

.buttons-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2px;
}

.btn {
    font-size: 32px;
    border-radius: 20px;
}

.grid-span2 {
    grid-column: span 2;
}